body                { padding:5px; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:80%; background:#eee; color:#222; }

.clear              { clear:both; }
.ui-panel           { padding:10px; background:#fff; border:1px solid #ccc; }

table.layout        { border-spacing:5px; height:100%; width:100%; font-size:1em; }
table.layout tr     { vertical-align:top; }

#messages           { width:75%; height:100%; }
#contacts           { width:25%; height:100%; }
#messages .ui-panel { height:90%; overflow-x:hidden; overflow-y:auto; }
#contacts .ui-panel { height:90%; overflow-x:hidden; overflow-y:auto; }

#contacts h2        { margin-top:0; font-size:1em; }
#contacts ul        { margin:0; padding:0; }
#contacts li        { margin:0; padding:0; margin-left:1.4em; color:#999; }
#contacts li span   { color:#222; }
#contacts li small  { color:#999; }

#messages table     { padding:0; margin:0; margin-bottom:0.3em; border-collapse:collapse; border-spacing:0; font-size:1em; }
#messages tr,td     { padding:0; margin:0; outline-width:0; border-width:0; }

#messages td.nick   { padding:0 0.5em; }

#messages table.notice td,
#messages table.message td.date   { color:#999; }
#messages table.error td          { color:#c33; }
#messages table.personal td.nick  { font-weight:bold; }
#messages table.message td.date   { font-family:DejaVu Sans Mono, monospace; }

#input input        { font-size:1em; font-family:Arial, Helvetica, sans-serif; padding:0; border-width:0; outline-width:0; width:100%; }

